#count-down-dash {
    margin: 0 auto;
    width: 50%;
    background-color: rgb(213, 221, 221);
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .count-down-btn{
    margin: 5px;
  }
  .cout-down-section{
    position: relative;
    text-align: center

  }
  .timer{
    margin: auto;
    width: 50%;
    text-align: center;

  }
  .timer h3{
      margin: 0px;
  }
  #loading, #outlet {
      width: 100%;
      height: 100%;
      position: absolute;
  }
  #loading{
      z-index: 10;
      height: 100px;
      width: 200px;
      background-color: rgba(255,255,255,0.85);
      padding: 40px;
      border: 1px solid #000000;
      border-radius: 5px;
      margin: 0 auto;
      margin-bottom:10px;
      box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
  }
